.ToDoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 28px;
  .list-header {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 24px;
      text-align: center;
      margin: 30px 40px;
      color: #191847;
      line-height: 29px;
    }
    .empty-list-illust {
      width: 391px;
      height: 183px;
      margin-bottom: 48px;
    }
    .completed-list-illust {
      width: 443px;
      height: 186px;
      margin-bottom: 48px;
    }
    .loading-list-illust {
      width: 350px;
      height: 250px;
      margin-bottom: 48px;
    }
    .loading-bubbles {
      bottom: 50px;
      position: relative;
    }
    .sub-title {
      color: #191847;
      font-size: 16px;
      text-align: left;
      padding: 0px 28px 12px 28px;
      line-height: 19px;
      width: -webkit-fill-available;
      margin: 0px;
    }
  }
}

@media screen and (max-width: 500px) {
  .ToDoList {
    .list-header {
      .title {
        margin: 24px 40px 20px 40px;
      }
      .empty-list-illust {
        width: 244px;
        height: 115px;
        margin-bottom: 30px;
      }
      .completed-list-illust {
        width: 267px;
        height: 112px;
        margin-bottom: 30px;
      }
      .loading-list-illust {
        width: 200px;
        height: 150px;
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .ToDoList {
    padding-bottom: 18px;
  }
}
