.ToDoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 28px;
  .list-header {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 24px;
      text-align: center;
      margin: 30px;
      color: #191847;
      line-height: 29px;
    }
    .empty-list-illust {
      width: 391px;
      height: 183px;
      margin-bottom: 48px;
    }
    .completed-list-illust {
      width: 443px;
      height: 186px;
      margin-bottom: 48px;
    }
    .sub-title {
      color: #191847;
      font-size: 16px;
      text-align: left;
      padding: 0px 28px 12px 28px;
      line-height: 19px;
      width: -webkit-fill-available;
      margin: 0px;
    }
  }
}
