body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.alert-confirm-main {
  border-radius: 12px !important;
  font-family: "Inter", sans-serif;
  .alert-confirm-button.primary-button {
    background: transparent !important;
    border: 1px solid #2b44ff;
    color: #2b44ff;
    line-height: 18px;
    padding: 10px;
  }
  .alert-confirm-button.default-button {
    background: transparent !important;
    border: 1px solid #191847;
    line-height: 18px;
    padding: 10px;
  }
}
