.TasksSet {
  width: -webkit-fill-available;
  > p {
    color: #191847;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    padding: 0px 28px 12px 28px;
    margin: 0px;
    margin-top: 30px;
  }
  .completed-title {
    margin-top: 18px;
  }
}

@media screen and (max-width: 376px) {
  .TasksSet {
    > p {
      padding: 0px 25px 12px 25px;
      margin-top: 24px;
    }
  }
}
